<%- include('header'); %>
<body>
    <h1><%= title %></h1>
	<%- include('menu'); %>

	<ul>
		<% photos.forEach(function(photo){ %>
			<%- include('photo', {photo: photo}); %>
		<% }); %>
	</ul>

</body>
</html>