<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List</title>
</head>
<body>
    <h1><%= title %></h1>
	<%- include('menu'); %>

	<ul>
		<% photos.forEach(function(photo){ %>
			<%- include('photo', {photo: photo}); %>
		<% }); %>
	</ul>

</body>
</html>