<%- include('header'); %>
<body> 
    <h1><%= title %></h1>
	<%- include('menu'); %>
	<form id="uploadForm" enctype="multipart/form-data" method="post" action="/fileUpload">
		<input type="file" name="image" accept="image/*" />
		<input type="submit" value="Upload File" name="submit">
	</form>
</body>
</html>